.produtos {
  text-align: center;
  padding: 40px 20px;
}

.produtos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* padrão: celular 2 colunas */
  gap: 20px;
  margin-top: 20px;
}

/* Tablet */
@media (min-width: 600px) {
  .produtos-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* PC */
@media (min-width: 900px) {
  .produtos-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-produto {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.card-produto:hover {
  transform: translateY(-10px);
}

.card-produto img {
  width: 100%;
  border-radius: 10px;
}

.card-produto h3 {
  margin: 15px 0 5px;
  font-size: 1.2rem;
}

.card-produto .preco {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 10px;
}

.btn-comprar {
  background: orange;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-comprar:hover {
  background: Orange;
}

#produto .titulo-produtos {
  font-size: 2.5rem;
  font-weight: 700;
  color: orange; /* combina com o header */
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;

  /* animação de entrada */
  opacity: 0;
  transform: translateY(-30px);
  animation: slideDown 1s ease forwards;
}

/* Efeito ao passar o mouse no título */
#produto .titulo-produtos:hover {
  color: black;
  text-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
  transition: 0.3s ease;
}

/* Keyframes */
@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}