* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.logo-img {
  width: 15%;
  height: auto;
  z-index: 1;
 border-radius: 5px;
}

nav {
  display: flex;
  gap: 1rem;
}
nav a {
  font-weight: 600;
  letter-spacing: 0.5px;
}
nav a,
 .mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  transition: border-color 0.3s ease;
}
nav a.active,
.mobile-menu a.active {
  border-bottom: 2px solid white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height:30%;
 margin-top: 10px;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 30px;
  height: 25px;
  justify-content: center;
  position: relative;
 z-index: 1000;
}
.hamburger span {
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 5px;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
  z-index: 1000;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 10px;
}

.hamburger span:nth-child(3) {
  top: 20px;
}

.hamburger.active span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}
.mobile-menu{
  display: none;
  flex-direction: column;
  position: fixed;
  top: 80px;
  padding: 1rem;
  z-index: 1000;
  background: orange;
  
  width: 100%;
}
.mobile-menu a {
  color: white;
  padding: 0.5rem 0;
  z-index: 1000;
}
main {
  scroll-behavior: smooth;
}
.pagina {
  min-height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
 
  color: white;
}
#home{
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .mobile-menu.active {
    display: flex;
  }
}
